<mat-toolbar class="header mat-elevation-z4">
  <span>
    <a>
      <img class="logo" src="assets/logo-teste2.png" alt="logo" />
    </a>
  </span>
  <span class="title-group">
    <a>
      <i class="material-icons" routerLink="/"> home </i>
      Inicio
    </a>
  </span>
  <span class="title-groupHome">
    <a>
      <i class="material-icons" routerLink="login"> login </i>
      Sair
    </a>
  </span>
  <span class="title-groupdehaze">
    <button mat-icon-button (click)="toggleSidebar()">
      <i class="material-icons"> dehaze </i>
    </button>
  </span>
</mat-toolbar>
<p>header works!</p>
