<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <div class="card mt-5 mx-auto mb-5">
        <div class="card-header pt-3">
          <h3 class="text-center">Faça login na sua conta</h3>
        </div>
        <div class="card-body">
          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
            <div class="form-group">
              <label for="email">Email:</label>
              <input
                type="email"
                class="form-control form-control-lg"
                id="email"
                name="email"
                [(ngModel)]="user.email"
                placeholder="Insira seu email"
                required
              />
              <div
                class="invalid-feedback"
                *ngIf="loginForm.submitted && loginForm.controls.email.invalid"
              >
                Por favor, insira um email válido.
              </div>
            </div>
            <div class="form-group">
              <label for="password">Senha:</label>
              <input
                type="password"
                class="form-control form-control-lg"
                id="password"
                name="password"
                [(ngModel)]="user.password"
                placeholder="Insira sua senha"
                required
              />
              <div
                class="invalid-feedback"
                *ngIf="
                  loginForm.submitted && loginForm.controls.password.invalid
                "
              >
                Por favor, insira sua senha.
              </div>
            </div>
            <button type="submit" class="btn btn-primary btn-block text-center">
              Entrar
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
